<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="field form-group">
        <%= form.label :title, style: "display: block", class: "label-text" %>
        <%= form.text_field :title, class:"form-control"%>
      </div>
      <div class="field form-group">
        <%= form.label :body, style: "display: block", class: "label-text" %>
        <%= form.text_area :body, rows: 15, class:"form-control"%>
      </div>
      <%=form.hidden_field :user_id, value: current_user.id %>
    </div>
    <br>
    <div class="col-12">
        <div class="float-end">
          <%= link_to "Back to notes", notes_path, class: "link-secondary px-3" %>
          <%= form.submit "Save", class: "btn btn-primary rounded-pill" %>
        </div>
    </div>
  </div>


<% end %>
